body{
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
.container-fluid{
    height: 100vh;
}
.contact_main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contact_image{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(182, 128, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
    
}
.contact_image h1{
    font-size: 38px;
}
.form-floating{
    width: 100%;
}
.input_field{
    width: 100%;
    padding:20px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border:solid rgb(206, 186, 186) 1px;
}
.contact_info{
    margin-top: 10px;
    line-height: 10px;
}
.contact_info p{
    font-size: 13px;
}
.form_input{
    position: relative;
    width: 100% !important;
}
.label_input{
    font-size: 15px;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: white;
    padding: 0 2px;
    font-weight: 300;
}


textarea{
    font-size: 15px;
    font-weight: 500;
}
.link_text{
    font-size: 16px;
}
.link_text span{
    font-size: 13px;
}
.mail_link{
    text-decoration: none;
}